.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 1px solid #fff !important;
}

body {
  overflow-x: hidden;
}



@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1199px) {
  .heading-text h4 {
    font-size: 40px;
  }

  .heading-text p {
    font-size: 20px;
  }

  .utility-box .col-md-3 {
    width: 50%;
    margin: 10px 0;
  }
}



@media only screen and (max-width: 1199px) {
  .banner-right {
    width: 480px;
  }

  .banner-content img {
    margin: 0;
    position: static;
    width: 320px;
  }

  .banner-content h1 {
    font-size: 100px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
  }

  header .navbar-nav li {
    margin-right: 15px;
  }

}

@media only screen and (max-width: 992px) {
  .how-to-buy {
    background-size: cover;
    background-position: right;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
  }

  .header-tele-ic {
    position: absolute;
    right: 92px;
    top: 21px;
  }

  .navbar-toggler {
    padding: 2px 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
  }

  header .navbar-collapse .d-flex.me-4 .btn {
    width: 100%;
    margin-bottom: 15px;
  }

  .banner-right {
    width: 470px;
  }

  .section-padding {
    padding: 70px 0;
  }

  .banner-home .col-md-6,
  .banner-home .col-md-4 {
    width: 100%;
  }

  .banner-content img {
    margin: auto;
    filter: none;
    max-width: 300px;
    position: relative;
    top: 0;
  }

  .how-to-buy {
    background-size: cover;
    background-position: right;
  }

  .timer-box .row li {
    width: 33.33%;
  }

  .navbar-brand {
    font-size: 20px;
  }

  header .container {
    max-width: 95%;
  }

  .hero-section {
    min-height: initial;
  }

  .banner-images img {
    height: auto;
  }

  .text-main img {
    /* width: 500px; */
  }

  .utility-box img {
    width: 100%;
  }
}

@media only screen and (max-width: 875px) {
  .steps-how-buy {
    width: 100%;
  }

  .banner-home .col-md-5,
  .banner-home .col-md-4 {
    width: 100%;
  }

  .banner-content {
    text-align: center;
    padding: 0px 10px;
  }

  .swap-box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 550px;
  }

  .how-to-buy .w-50 {
    width: 100% !important;
  }

  .heading-text h4,
  .headings h4 {
    font-size: 30px;
  }

  .heading-text p,
  .headings p {
    font-size: 18px;
  }

  .section-padding {
    padding: 50px 0px;
  }

  .heading-text {
    margin-bottom: 20px !important;
  }

  .banner-home {
    background-size: cover;
    background-position: left;
  }
}

@media only screen and (max-width: 767px) {

  .banner-right{
    margin: auto !important;
  }
  .text-main h1 , .text-main p , .text-main h4{
    text-align: center;
  }
  .centerr {
    margin: auto;
  }

  .why-section .col-md-3 img,
  .banner-join {
    max-width: 300px;
    margin: auto;
    display: block;
  }

  .why-section {
    text-align: center;
  }

  .list-why ul {
    padding: 0;
    list-style: none;
  }

  .roadmap-box {
    width: 100%;
  }

  .roadmap-list ul {
    padding-left: 60px;
  }

  .roadmap-list li::after {
    left: -45px;
    right: auto;
  }

  .roadmap-list li::before {
    right: auto;
    left: -60px;
  }

  .roadmap-box {
    text-align: left;
  }

  .roadmap-text p::after {
    left: 0;
  }

  .roadmap-text p {
    padding-left: 30px;
    padding-right: 0px;
  }

  .join-sec-in {
    height: 250px;
  }

  .join-sec-in h2 {
    font-size: 60px;
  }

  .roadmap-box h2 {
    font-size: 24px;
  }

  .crypto-in img {
    width: 100%;
  }

  .crypto-in h2 {
    font-size: 50px;
    line-height: 50px;
    margin-top: 0px;
  }

  .banner-content img {
    max-width: 100%;
  }

}

@media only screen and (max-width: 600px) {
  .banner-content span {
    font-size: 16px;
  }

  .banner-content h1 {
    font-size: 65px;
    line-height: 60px;
  }

  .right-how h4 {
    font-size: 16px;
  }

  .right-how p {
    font-size: 14px;
  }

  .left-how figure {
    margin-right: 20px;
  }

  #qr-sec img {
    max-width: 300px;
  }

  .banner-content h4 {
    margin-top: 0;
  }

  .join-secc .join-secc-in {
    display: block;
  }

  .text-main img {
    /* width: 300px; */
  }

  .text-main h1 {
    font-size: 75px;
    line-height: 70px;
  }

  .text-main span {
    margin-top: -10px;
  }

}


@media only screen and (max-width: 480px) {
  .utility-box .col-md-3 {
    width: 100%;
  }

  .banner-content p,
  .swap-box-in h4 {
    font-size: 14px;
  }

  .banner-content h4 {
    font-size: 28px;
  }

  .swap-box {
    padding: 20px;
  }

  .heading-text h4 {
    font-size: 32px;
  }

  .heading-text p {
    font-size: 18px;
  }

  .footer-logo img {
    width: 80%;
  }

  .join-sec .container {
    padding: 0;
  }

  .join-sec-in {
    height: auto;
    padding: 40px 0px;
  }

  .foot-last {
    font-size: 14px;
    padding: 20px 0px;
  }

  footer {
    padding-top: 60px;
  }

  .roadmap-text p {
    font-size: 14px;
  }

  .timer-box ul h4 {
    font-size: 28px;
  }

  .timer-box ul span {
    font-size: 12px;
  }

  .timer-box .row li {
    padding: 0px 2px;
  }

  .swap-box-in h4 {
    font-size: 14px !important;
  }
}